<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ajax</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script>
        function loadData() {
            $.ajax({
                type: "POST",
                url: "/Employee/GetEmployees",
                success: function (result) {
                    for (r in result) {
                        $("#emptbody").append("<tr><td>" +
                            result[r].EmployeeName + "</td><td>" + result[r].Age + "</td></tr>");
                    }
                },
                failure: function (result) {
                    alert("Failed");
                },
                error: function (result) {
                    alert("Error");
                }
            });
        }
        $(document).ready(loadData());

     </script>
</head>
<body>
    <div class="container">
        <!-- <button type="button" class="btn btn-primary">Load Employees Data</button> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody id="emptbody"></tbody>
        </table>
    </div>
   
</body>
</html>